<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Przepis na naleśniki" src="assets/images/logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-static-top">
          <li><a routerLink="/pancakeCreator" routerLinkActive="active-link">Kreator naleśników</a></li>
          <li><a routerLink="/allRecipes" routerLinkActive="active-link">Wszystkie przepisy</a></li>
          <li><a routerLink="/addRecipe" routerLinkActive="active-link">Dodaj przepis</a></li>
          <li><a routerLink="/contact" routerLinkActive="active-link">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
